<table id="issuetable">
    <thead>
        <tr class="rowheader">
            <th class="active descending headerrow-priority">P</th>
            <th class="colHeaderLink headerrow-issuekey">Key</th>
            <th class="colHeaderLink headerrow-summary">Summary</th>
            <th class="colHeaderLink headerrow-status">Status</th>
        </tr>
    </thead>
#macro(dummy)
 <tr class="${priority.sequence}priority issuerow dummyissue">
     <!-- <td class="nav priority"><img src="$baseurl$priority.iconUrlHtml"/></td>  -->
     <td class="nav priority">
        <select id="priority-change-pipka">
         #foreach($prior in $priorities)
            <option value=$prior.sequence
            #if ($prior.sequence == $priority.sequence) selected="true" #end
            >
            $prior.name</option>
         #end
        </select>
     </td>
     <td class="nav issuekey" style="background-color:#326CA6;">-</td>
     <td class="nav summary" style="background-color:#326CA6;">-</td>
     <td class="nav status">Not opened yet</td>
 </tr>
#end
    <tbody>
        #set($moreThanPrevious = 0)
        #foreach($issue in $issues)
            #if ($moreThanPrevious == 0)
                #if ($issue.priorityObject.getSequence().compareTo($priority.getSequence()) > 0)
                    #dummy()
                    #set($moreThanPrevious = 1)
                #end
            #end
            <tr class="${issue.priorityObject.sequence}priority  issuerow pipka">
                <td class="nav priority"><img src="$baseurl$issue.priorityObject.iconUrlHtml"/></td>
                <td class="nav issuekey"><a target="_blank" href="$baseurl/browse/$issue.key">$issue.key</a></td>
                <td class="nav summary"><a target="_blank" href="$baseurl/browse/$issue.key">$issue.summary</a></td>
                <td class="nav status"><img src="$baseurl$issue.statusObject.iconUrlHtml"/>$issue.statusObject.nameTranslation</td>
            </tr>
        #end
        #if ($moreThanPrevious ==0) #dummy() #end
    </tbody>
</table>